/*––––––––––––––––––––––*/
/*––––– Global CSS –––––*/
/*––––––––––––––––––––––*/

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   color: #333;
   font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Fredoka One', cursive;
	text-align: center;
}

iframe {
	overflow: hidden;
}

a {
   text-decoration: none;
   color: #333;
}
a:hover { color: #555;}

.fade-in {
   transition-delay: 1s;
   animation-name: fade-in;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

.select-disable { 
	/*Disable highlight selection on imgs */
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
}

.full-screen {
   height: 100%;
   width: 100%;
   position: relative;
   overflow: hidden;
}

.content {
   padding: 5% 5%;
   position: relative;
}

.bottom {
	width: 20%;
	text-align: center;
	font-weight: bold;
   position: absolute;
   bottom: 2%;
   right: 40%;
   left: 40%;
}

.bottom h4 {
	margin: 0 0 20px 0;
}

.arrow-up {
	font-size: 200%;
	font-weight: bold;
}

#first {
   background: #96CEB4;
   background-position: center;
   background-size: cover;
}

#second {
   background: #FFEEAD;
}

/* #third {
   background: #FF6F69;
}

#fourth {
   background: #FFCC5C;
}

#fifth {
   background: #AAD8B0;
} */


/*–––––––––––––––––––––*/
/*––––– Intro CSS –––––*/
/*–––––––––––––––––––––*/

@keyframes logo {
	100% {
	-ms-transform: translateY(-400%); /* IE 9 */
   -webkit-transform: translateY(-400%); /* Safari */
	transform: translateY(-400%);}
}

@keyframes browser {
	50% {
		-ms-transform: translateY(-35%); /* IE 9 */
    	-webkit-transform: translateY(-35%); /* Safari */
    	transform: translateY(-35%);
	} 100% {
		-ms-transform: translateY(-95%); /* IE 9 */
    	-webkit-transform: translateY(-95%); /* Safari */
    	transform: translateY(-95%);
	}
}	

@keyframes fade-in {0% {opacity: 0;}100% {opacity:1;}}

@keyframes bgColor {
    0%   {background-color:rgb(150, 206,180);}
    25%  {background-color:rgb(255, 238,173);}
    50%  {background-color:rgb(255, 111, 105);}
    75%  {background-color:rgb(255, 204, 92);}
    90% {background-color:rgb(170, 216, 176 );}
    100%   {background-color:rgb(150, 206,180);}
}

#intro {
   animation-name: bgColor;
   animation-duration: 10s;
   animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

#logo {
   margin: 0 25% 0 25%;
   position: absolute;
   top: 35%;
	width: 50%;
   animation-name: logo;
   animation-delay: 2.5s;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
}

.browser-container {
	position: absolute;
	font-size: 0; /* remove white space */
	z-index:0;
	top: 100%;
	width: 80%; 
   margin: 0 10% 0 10%;
	transition: ease-in-out 500ms;
	animation-name: browser;
   animation-delay: 1s;
   animation-duration: 3s;
	animation-fill-mode: forwards;
}

#scale {
		transition: ease-in-out 500ms; 
}

/* Scale browser and url */
.scale-up {
   -ms-transform: scale(1.1); /* IE 9 */
   -webkit-transform: scale(1.1); /* Safari */
   transform: scale(1.1);
}

#browser {
	position: relative;
   display: block;
	height: 100%;
	width: 100%;
	border-radius: 15px;
   box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
}

#form {
	position: absolute;
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 9%;
	width: 100%;
	z-index: 1;
}

#url {
	cursor: pointer;
	z-index: 2;
	height: 41%;
	padding: 0 10px;
	margin: 0 15%;
	width: 70%;
	border: 1px solid rgba(150, 206,180, 0);
	border-radius: 5px;
   font-size: 16px;
   opacity: 0;
	animation-delay: 4s; /* fade-in */
	transition: ease-in-out 250ms;
}
#form:hover #url {
	box-shadow: 0 0 8px rgb(255, 204, 92);
}

#url:focus #url {
	box-shadow: none;
}

#url:valid {
	box-shadow: 0 0 8px rgb(150, 206,180);
}
#url:invalid {
	box-shadow: 0 0 8px rgb(255, 111, 105);
}


/*––––– Animation 1 –––––*/
#animation1  {
	width: 100%;
	height: 100%;
	border: none;
}


/*––––––––––––––––––*/
/*––––– Puzzle –––––*/
/*––––––––––––––––––*/

#overlay {
   position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
   width: 50%;
   height: 30%;
   top: 20%;
	left: 25%;
	border-radius: 15px;
   box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
   background-color: #fff;
   z-index: 99;
   cursor: pointer;
   text-align: center;
}

/* #puzzle {
	position: relative;
	z-index: 99;
	overflow: hidden;
	height: 100%;
	width: 80%;
} */

#puzzle-img {
	display: none;
	position: absolute;
	bottom: 0;
	height: 91%;
	width: 100%;
}

#slots-container {
	display: none;
	font-size: 0; /* remove white space */
	position: absolute;
	bottom: 0;
	z-index: 98
}

.slot {
	float: left;
   background: #fff;
	opacity: .75;
}
.slot-hover {
	opacity: 0.4;
}

#pieces-container {
	display: none;
	position: absolute;
   font-size: 0; /* remove white space */
	margin: 0 auto;
	z-index: 99;
}

#no-scroll {
	overflow: auto;
}

.piece {
	position: absolute;
   cursor: move;
   box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.piece:active {
	/* transition: ease-in-out 250ms; */
    -ms-transform: scale(1.1); /* IE 9 */
   -webkit-transform: scale(1.1); /* Safari */
   transform: scale(1.1);
}
